<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">

  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
    <img
    width="160"
    alt="Refugees' Solidarity Platform"
    src="assets/versusvirus_logo.png"
  />
  </a>
  <h1>The Swiss Refugees' Solidariy Platform</h1>
  <ul class="navbar-nav px-3">
    <li class="nav-item">
      <a routerLink="/" class="nav-link" routerLinkActive="active">
        <i class="fas fa-home"></i>
              Home
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="login/" class="nav-link" routerLinkActive="active">
        <i class="fas fa-home"></i>
              Login
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="register" class="nav-link" routerLinkActive="active">
        <i class="fas fa-home"></i>
              Register
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/" class="nav-link" routerLinkActive="active">
        <i class="fas fa-home"></i>
              Accomodation
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/" class="nav-link" routerLinkActive="active">
        <i class="fas fa-home"></i>
              Market
      </a>
    </li>
  </ul>
  </div>
</nav>


<router-outlet></router-outlet>
